---
import { getCollection } from "astro:content";

import { baseCurrencyFromSymbol, QUOTE_CURRENCY } from "../utils/currency";
import { isDateStale } from "../utils/date";
import { CurrencySelect } from "./CurrencySelect";

const quoteRecords = await getCollection("quoteRecords");
const currencies = [
  QUOTE_CURRENCY,
  ...quoteRecords
    .filter((quoteRecord) => {
      const lastQuote = Object.entries(quoteRecord.data).at(-1);
      if (lastQuote != null) {
        const [lastDate] = lastQuote;
        return !isDateStale(new Date(lastDate));
      }
      return false;
    })
    .map((quoteRecord) => baseCurrencyFromSymbol(quoteRecord.id)),
] as const;
---

<div class="not-content">
  <CurrencySelect
    client:load
    label="Currency"
    name="currency"
    items={currencies}
  />
</div>
