{
  "$schema": "https://spec.openapis.org/oas/3.1/schema-base/2022-10-07",
  "openapi": "3.1.0",
  "info": {
    "title": "FXHU",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fxhu.kripod.dev/api/v1"
    }
  ],
  "paths": {
    "/symbols.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteBySymbol"
                },
                "example": {
                  "EURHUF": ["2024-04-12", 391.76],
                  "USDHUF": ["2024-04-12", 367.13]
                }
              }
            }
          }
        }
      }
    },
    "/symbols/{symbol}.json": {},
    "/symbols/{symbol}/{year}.json": {},
    "/years.json": {},
    "/years/{year}.json": {}
  },
  "components": {
    "schemas": {
      "QuoteBySymbol": {
        "type": "object",
        "patternProperties": {
          "^[A-Z]+$": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "prefixItems": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "externalDocs": {
    "url": "https://fxhu.kripod.dev/"
  }
}
