{
  "$schema": "https://spec.openapis.org/oas/3.1/schema-base/2022-10-07",
  "openapi": "3.1.0",
  "info": {
    "title": "FXHU",
    "license": {
      "name": "MIT License",
      "identifier": "MIT"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fxhu.kripod.dev/api/v1"
    }
  ],
  "paths": {
    "/symbols.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^[A-Z]+$": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "EURHUF": ["2000-01-05", 254.48],
                  "JPYHUF": ["2000-01-05", 2.3809],
                  "USDHUF": ["2000-01-05", 245.57]
                }
              }
            }
          }
        }
      }
    },
    "/symbols/{symbol}.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteRecord"
                },
                "example": {
                  "1999-12-29": 254.92,
                  "2000-01-04": 254.47,
                  "2000-01-05": 254.48
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ]
    },
    "/symbols/{symbol}/{year}.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteRecord"
                },
                "example": {
                  "2000-01-04": 254.47,
                  "2000-01-05": 254.48
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        },
        {
          "$ref": "#/components/parameters/year"
        }
      ]
    },
    "/years.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^\\\\d+$": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Symbol"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "1998": ["JPYHUF", "USDHUF", "XEUHUF"],
                  "1999": ["EURHUF", "JPYHUF", "USDHUF"],
                  "2000": ["EURHUF", "JPYHUF", "USDHUF"]
                }
              }
            }
          }
        }
      }
    },
    "/years/{year}.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^[A-Z]+$": {
                      "$ref": "#/components/schemas/QuoteRecord"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "EURHUF": {
                    "2000-01-04": 254.47,
                    "2000-01-05": 254.48
                  },
                  "JPYHUF": {
                    "2000-01-04": 2.4204,
                    "2000-01-05": 2.3809
                  },
                  "USDHUF": {
                    "2000-01-04": 248.82,
                    "2000-01-05": 245.57
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Quote": {
        "type": "array",
        "prefixItems": [
          {
            "type": "string",
            "format": "date"
          },
          {
            "type": "number"
          }
        ],
        "maxItems": 2,
        "minItems": 2
      },
      "QuoteRecord": {
        "type": "object",
        "patternProperties": {
          "^[+-\\\\d]+$": {
            "type": "number"
          }
        },
        "additionalProperties": false
      },
      "Symbol": {
        "type": "string",
        "pattern": "^[A-Z]+$"
      }
    },
    "parameters": {
      "symbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Symbol"
        },
        "example": "EURHUF"
      },
      "year": {
        "name": "year",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 2000
      }
    }
  },
  "externalDocs": {
    "url": "https://fxhu.kripod.dev/"
  }
}
